.aboutCard{
    border:2px solid #534b7e;
    width: fit-content;
    padding:1rem;
    .aboutCardImg{
        width:250px;
        height:250px;
    }
    .acountCard_body{
        display:flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
        .accountCard_heading{
            font-weight: 600;
            font-size: medium;
        }
        .accountCard_description{
            font-size: x-small;
            text-align: center;
            width: 250px;
        }
    }
}