.Home{
  width:100vw;
  height:100vh;
  background-color: #0a1a44;
  padding:12rem 0rem;
  .Home_left{
    display:flex;
    width: 100vw;
    padding:0 1rem;
    flex-direction: column;
    gap:8rem;
    .home_body_tag{
      font-weight: 100;
      color:white;
      font-size: 4rem;
      text-align: center;
    }
    .create_account_btn{
      padding:12px 3rem;
      border-radius: 12px;
      border: none;
      width: 100%;
      cursor: pointer;
      background-color: #075e7a;
      color: white;
      font-weight: 100;
    }
  }
  // .Home_right{
  // }
}
@media screen and (min-width:950px)
{
  .Home{
    padding:8rem 1rem;
    .Home_left{
      width: 40vw;
      padding:0;
      .home_body_tag{
        max-width: 100%;
        text-align: start;
      }
      .create_account_btn{
        width: fit-content;
        padding:12px 3rem;
      }
    }
    // .Home_right{
    // }
  }
}
