.inputTags{
    display:flex;
    flex-direction: column;
    gap:12px;
    background-color: gainsboro;
    color: black;
    .InputLable{
        font-weight: 700;
        font-size: small;
        font-family: 'Noto Sans Lepcha', sans-serif;
        @media screen and (min-width:950px)
        {
            font-size: large;
        }
    }
    .CustomerInputText{
        width:300px;    
        border-radius: 12px;
        padding:8px 12px;
        font-size: xx-small;
        outline: none;
        background-color: transparent;
        border:1px solid grey;
        color:black;
        @media screen and (min-width:950px)
        {
            width:350px !important;
            font-size: large;
        }
    }
    .CustomInputNumber{
        width:125px;
        border-radius: 12px;
        background-color: transparent;
        border:1px solid grey;
        padding:8px 12px;
        color:black;
        font-size: xx-small;
        outline: none;
        
        @media screen and (min-width:950px)
        {
            width:175px;
            font-size: large;
        }
    }
}