.input_message{
    display:flex-start;
    flex-direction: column;
    gap:12px;
    background-color: gainsboro;
    .input_label{
        display:flex;
        font-size: larger;
        font-weight: 700;
    }
    .textarea_input{
        border-radius: 12px;
        background-color: gainsboro;
        color:black;
        padding:8px;
        font-size: small;
        outline: none;
    }
}