.mypromos{
    width:100vw;
    height:100vh;
    padding:2rem 1rem;
    display:flex;
    flex-direction: column;
    gap:2rem;
    @media screen and (min-width:950px)
    {
        padding:6rem 1rem;
    }
    .mypromos_head{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        .myPromos_head_heading{
            font-weight: 500;
            font-size: x-large;
            @media screen and (min-width:950px)
            {
                font-weight: 500;
                font-size: xx-large;
            }
        }
        .myPromos_head_right{
            display:flex;
            align-items: center;
            list-style: none;
            justify-content: center;
            .myPromos_head_right_item{
                padding:0 6px;
                display:flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                .myPromos_head_right_btn{
                    background-color: black;
                    color:white;
                    font-size: x-small;
                    border:none;
                    padding:4px 8px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    gap:4px;
                    font-weight: 600;
                    border-radius: 6px;
                    cursor: pointer;
                    @media screen and (min-width:950px)
                    {
                        font-size: large;
                        padding:8px 16px;
                    }
                }
            }
            .myPromos_head_right_item{
                width: fit-content;
                .myPromos_head_img{
                    width:20px;
                    height:20px;
                    border-radius: 50%;
                    @media screen and (min-width:950px)
                    {
                        width:40px;
                        height:40px;
                    }
                }
            }
        }
    }
    .mypromos_body{
        .mypromos_body_head{
            display:flex;
            align-items: center;
            justify-content: center;
            gap:1rem;
            @media screen and (min-width:950px)
            {
                justify-content: start;
            }
            .mypromos_body_head_btn{
                width: fit-content;
                background-color: grey;
                border: none;
                color:white;
                padding:6px 32px;
                border-radius: 12px;
                cursor: pointer;
                @media screen and (min-width:950px)
                {
                    padding:6px 24px;
                }
            }
            .mypromos_body_head_btn_active{
                background-color: black;
                width: fit-content;
                border: none;
                color:white;
                padding:6px 32px;
                border-radius: 12px;
                cursor: pointer;
                @media screen and (min-width:950px)
                {
                    padding:6px 24px;
                }
            }
        }
        .mypromos_body_main{
            margin-top:2rem;
            overflow: auto;
            max-height:60vh;
            overflow: auto;
            @media screen and (min-width:950px)
            {
                padding-top:2rem;
                overflow: auto;
            }
            .validate_info_graph{
                width: fit-content;
                background-color: transparent;
                border:none;
                cursor:pointer;
            }
            .validate_info{
                width: fit-content;
                background-color: transparent;
                border:none;
                color:green;
                cursor:pointer;
            }
        }
    }
}