.button{
    width:160px;
    background-color: #075e7a;
    display:flex;
    justify-content: center;
    border-radius:12px;
    color:white;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    padding:8px 12px;
}