.newPromotion{
    width:100vw;
    height:100%; 
    padding-top:8rem;
    display:flex;
    flex-direction: column;
    background-color: gainsboro;
    color:black;
    gap:5rem;
    @media screen and (min-width:950px)
    {
        height:100vh;
        padding:1rem;
        padding-top:12rem;
    }
    .newPromotion_heading{
        padding-left:1rem;   
        @media screen and (min-width:950px)
        {
            font-size: xxx-large;
            padding-left:4rem;
        }
    }
    .newPromotion_body{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap:3rem;
        @media screen and (min-width:950px)
        {
            gap:0;
            flex-direction: row;
        }
        .promotionForm{
            width:fit-content;
            display:flex;
            flex-direction: column;
            gap:1.5rem;
            justify-content: space-between;
            .discount_off_onn{
                display:flex;
                justify-content: space-between;
            }
            .date_rangePicker{
                display:flex;
                flex-direction: column;
                gap:1rem;
                .validate_picker_label{
                    font-weight: 600;
                    font-size: smaller;
                }
                .daterangePicker{
                    width: fit-content;
                }
            }
            .savePromotion{
                width: fit-content;
                padding:4px 24px;
                border-radius: 8px;
                border: none;
                background-color: black;
                color:white; 
                margin: auto;
                cursor: pointer;
                @media screen and (min-width:950px)
                {
                    font-size: large;
                }   
            }
        }
    }
}