@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.inputTags{
    display:flex;
    flex-direction: column;
    gap:12px;
    .InputLable{
        font-weight: 700;
        font-size: small;
        font-family: 'Noto Sans Lepcha', sans-serif;
        @media screen and (min-width:950px)
        {
            font-size: large;
        }
    }
    .CustomerInputText{
        width:100% !important;
        border-radius: 12px;
        padding:8px 12px;
        font-size: xx-small;
        outline: none;
        border:none;
        @media screen and (min-width:950px)
        {
            width:350px !important;
            font-size: large;
        }
    }
    .CustomInputNumber{
        width:125px;
        border-radius: 12px;
        padding:8px 12px;
        font-size: xx-small;
        outline: none;
        border:none;
        @media screen and (min-width:950px)
        {
            width:175px;
            font-size: large;
        }
    }
}