@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
.selectInput{
    display:flex;
    flex-direction: column;
    gap:12px;
    color:black;
    .label{
        font-weight: 600;
        font-size: smaller;
        @media screen and (min-width:950px)
        {
            font-size: large;
        }
    }
    .selectType{
        width: 250px;
        background-color: gainsboro;
        border-radius: 12px;
        padding:2px 14px;
        border: none;
        font-family: 'Dongle', sans-serif;
        font-size: medium;
        color:black;
        // font-weight: 100;
        outline:1px solid gray;
        @media screen and (min-width:950px)
        {
            width:350px;
            font-size: x-large;
        }
        .option{
            border-radius: 20px;
        }
    }
}