@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
.selectInput{
    display:flex;
    flex-direction: column;
    gap:12px;
    .label{
        font-weight: 600;
        font-size: smaller;
        @media screen and (min-width:950px)
        {
            font-size: large;
        }
    }
    .selectType{
        width: 300px;
        border-radius: 12px;
        padding:2px 14px;
        border: none;
        font-family: 'Dongle', sans-serif;
        font-size: medium;
        outline:1px solid gray;
        @media screen and (min-width:950px)
        {
            width:350px;
            font-size: large;
        }
        .option{
            border-radius: 20px;
        }
    }
}