@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
.toster_Main{
    z-index: 999;
    position: absolute;
    background-color: green;
    border-radius: 12px;
    height:40px;
    display: flex;
    align-items: center;
    gap:0.5rem;
    transition-duration: 1s;
    bottom:12px;
    right:10%;
    width:300px;
    @media screen and (min-width:950px)
    {
        gap:1rem;
        right:2%;
        width:450px;
        bottom:2rem;
        height:80px;    
    }
    .tosterSuccessIcon{
        font-size: 2rem;
        color:white;
        @media screen and (min-width:950px)
        {
            font-size: 3rem;
        }
    }
    .tosterFailedIcons{
        font-size: 2rem;
        color:white;
        @media screen and (min-width:950px)
        {
            font-size: 3rem;
        }
    }
    .toster_body{
        .toster_heading{
            color:white;
            font-family: 'Inter', sans-serif;
            @media screen and (min-width:"950px")
            {
                font-size: x-large;
                width:300px;
            }
        }
        .toster_description{
            font-family: 'Roboto', sans-serif;
            color:white;
            font-size: x-small;
            @media screen and (min-width:950px)
            {
                font-size: large;
                width:300px
            }
        }
    }
}