.welcomePage{
    padding:5rem 1rem;
    width:100vw;
    height:100%;
    background-color: #0a1a44;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    justify-content: center;
    gap:4rem;
    @media screen and (min-width:950px)
    {
        padding: 5rem 1rem;
        gap:8rem;
        // padding-top:12rem;
    }
    .business_Name{
        display:flex;
        flex-direction: column;
        font-weight: 300;
        text-align: center;
        font-size: 2.5rem;
        align-items: center;
        @media screen and (min-width:950px)
        {
            font-size: 4rem;
            gap:12px;
            text-align: center;
            max-width:40%;
        }
    }
    .welcomePage_body{
        display:flex;
        width:100%; 
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column-reverse;
        gap:2rem;
        @media screen and (min-width:950px)
        {
            flex-direction: row;
            gap:0;
        }
        .product_promotion{
            display: flex;
            flex-direction: column;
            gap:2rem;
            @media screen and (min-width:950px)
            {
                width: 40%;
                align-items: center;
            }
            .text{
              font-size: x-large;
              text-align: center;
              padding:1rem;
              @media screen and (min-width:950px)
              {
                font-size: xxx-large;
                line-height: 64px; 
              }
            }
            .CreatePromotionbtn{
                padding:1rem 2rem;
                width: fit-content;
                border-radius: 12px;
                border:none;
                background-color: #033994;
                color:white;
                cursor: pointer;
                font-weight: 600;
                @media screen and (min-width:950px)
                {
                    font-size: large;
                }
            }
        }
        .promotional_image{
            width:250px;
            height:auto;
            box-shadow: 2px 2px 100px 0 white;
            @media screen and (min-width:950px)
            {
                width:600px;
            }
        }
    }
}